.header{
    display:flex;

    border-bottom: 1px solid #ECECEC;
  }
  .headerline{
    display: flex;
    margin-left: auto;
   align-items: center;
  }
 

  

  /* .header-li:focus, .header-li:hover {
    color: red;
  } */
  // .header-li:nth-child(3){
  //    margin-right: 0;
  // }



