.hero{

    font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  background-color: #C4C4C4; 
    color: var(--color-secondary-accent) ;
    /* background-color:var(--background-secondary); */
    height: 600px;
    max-width:1600px;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(
   
      rgba(47, 48, 58, 0.4), #2F303A66 ), url(../images/HeroIPG\(1\).jpg);
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  .hero__box{
    padding-top: 200px;
    padding-bottom: 200px;
  
  }
  .hero__title{
  display: block; 
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  }
  .hero__btn{

  color: var(--color-secondary-accent);
     background: #188CE8;

  width: 200px;
  height: 50px;

  }
 
  