.logo{  
    display: block;
  
  font-family: 'Raleway';
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  margin-right: 93px;
  
  }
  .logo__accentcolor{
    color: var(--color-accent);
}
