.footer{
    /* display: flex; */
          background-color:var(--background-secondary);
           /* padding-bottom: 60px; 
         padding-top: 60px; */
         max-width: 1600px;
         margin: 0 auto;
  }
  .footer-logo{
    display:inline-block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-secondary-accent);
  margin-top: 60px;
  margin-bottom: 28px;
  }

  .footer-s{
    display:flex;
    /* background-color: blue; */
  }
  
  
  
  
  