.social {
    margin-bottom: 99px;
    /* padding-right: 100px; */
    margin-top: 72px;
    margin-left: 70px;
    /* outline: 2px red solid; */
  }
  .social p{
    font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-secondary-accent);
  margin-bottom: 20px;
  
  }
  .social-list{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .social-icon{
   height: 44px;
   width: 44px;
   /* outline: 2px red solid; */
   margin-right: 10px;
   /* border-radius: 50%; */
  }
  .social-icon:last-child{
    margin-right: 0; 
    
  }
  .social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: #FFFFFF; 
    transition:  background-color var(--sec)  var(--cubic);
  }
  
  .social-link:hover{
    background-color: #2196F3;
  }